.alert {
    padding: 20px;
    border-radius: 5px;
    margin: 10px 0;
    max-width: $max-readable-text-width;

    &_center {
        margin: 0 auto;
    }

    &_danger {
        color: $white;
        background: lighten($pomegranate, 10%);
        border: 1px solid $pomegranate;
    }
}