.alert {
    padding: 20px;
    border-radius: 5px;
    margin: 10px 0;

    &_danger {
        color: $white;
        background: lighten($pomegranate, 10%);
        border: 1px solid $pomegranate;
    }
}