.beer {
    margin-top: 72px;

    &__empty {
        text-align: center;
        padding: 20px;
        font-size: 1.5em;
    }

    &__items {
        font-size: 0;
        padding: 0 10px;
    }

    &__item-wrapper {
        display: inline-block;
        vertical-align: top;
        box-sizing: border-box;
        width: 16.666666666666668%;
        padding: 10px;
    }

    &__item {
        background-color: white;
        transition: border-color 0.2s ease-in-out;
        cursor: pointer;
        border: 1px solid #ccc;
        padding-top: 10px;
        font-size: $default-font-size;

        &:hover {
            border-color: $chambray;
            .beer__image {
                transform: rotate(30deg);
            }
        }
    }

    &__image-wrapper {
        height: 150px;
    }

    &__image {
        transition: transform 0.2s ease-in-out;
        margin: 0 auto;
        max-height: 100%;
    }

    &__title-wrapper {
        height: 95px;
    }

    &__title {
        margin: 15px 10px 5px 10px;
        font-size: em(18);
        text-align: center;
        font-weight: 700;
    }

    &__info {
        margin: 5px 10px;
        font-size: em(12);
        color: $nepal;
        text-align: center;
    }

    &__tagline {
        margin: 5px 10px;
        height: 50px;
        font-size: em(13);
        overflow: hidden;
        font-style: italic;
        text-align: center;
    }

    .beer__error {
        margin: 0 20px;
    }
}