.beer-pagination {
    padding: 20px 10px;
    text-align: center;

    &__button {
        display: inline-block;
        background-color: #3f6f95;
        color: #fff;
        padding: 8px 20px;
        cursor: pointer;
    }
}