.beer-filter {
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    padding: 5px 20px;
    background-color: #2f5c8c;
    height: 62px;
    top: 0;
    z-index: 100;
    @include clearfix;

    &__title {
        display: inline-block;
        padding: 1px 4px;
        font-size: 0.85em;
        font-weight: bold;
        color: $white;
    }

    &__divider {
        width: 1px;
        height: 100%;
        background-color: $desert-storm;
        margin: 0 25px;

        &_left {
            float: left;
        }
    }

    &__name {
        float: left;

        &-title-wrapper {
            display: block;
            width: 100%;
        }

        &-input {
            width: 200px;
        }
    }

    &__abv {
        float: left;

        &-title-wrapper {
            display: block;
            width: 100%;
            text-align: center;
        }

        &-input-wrapper {
            position: relative;
            display: inline-block;
            vertical-align: middle;

            &:before {
                position: absolute;
                display: inline-block;
                left: 5px;
                top: 1px;
            }

            &_left {
                &:before {
                    content: '% >';
                }
            }
            &_right {
                &:before {
                    content: '% <';
                }
            }
        }

        &-input {
            box-sizing: border-box;
            width: 80px;
            padding-left: 30px;
        }

        &-range {
            display: inline-block;
            vertical-align: middle;
            width: 300px;
            margin: 0 15px;
        }
    }

    &__items-per-page {
        float: right;
        width: 80px;
        margin: 8px 0;
    }
}