.beer {
    @include clearfix;

    &__empty {
        text-align: center;
        padding: 20px;
        font-size: 1.5em;
        font-weight: bold;
    }

    &__items {
        font-size: 0;
        margin: 5px 0;
    }

    &__item-wrapper {
        display: inline-block;
        vertical-align: top;
        box-sizing: border-box;
        padding: 5px;
        width: 100%;
    }

    &__item {
        background-color: white;
        border-radius: 5px;
        transition: border-color 0.2s ease-in-out;
        cursor: pointer;
        border: 1px solid #ccc;
        padding-top: 10px;
        font-size: $default-font-size;

        &:hover {
            border-color: $chambray;
            .beer__image {
                transform: rotate(30deg);
            }
        }
    }

    &__image-wrapper {
        height: 150px;
    }

    &__image {
        transition: transform 0.2s ease-in-out;
        margin: 0 auto;
        max-height: 100%;
    }

    &__title-wrapper {
        min-height: 95px;
    }

    &__title {
        margin: 15px 10px 5px 10px;
        font-size: em(18);
        text-align: center;
        font-weight: 700;
    }

    &__info {
        margin: 5px 10px;
        font-size: em(12);
        color: $nepal;
        text-align: center;
    }

    &__tagline {
        margin: 5px 10px;
        min-height: 50px;
        font-size: em(13);
        overflow: hidden;
        font-style: italic;
        text-align: center;
    }

    &__error {
        margin: 10px;
    }

    &__divider {
        margin: 10px 5px;
        padding: 20px;
        font-size: $default-font-size;
        font-weight: bold;
        text-align: center;
        color: $chambray;
        border-top: 1px solid $nepal;
        border-bottom: 1px solid $nepal;
    }

    @media (min-width: $screen-480-min) {
        &__items {
            margin: 5px;
        }

        &__item-wrapper {
            width: 50%;
        }
    }

    @media (min-width: $screen-sm-min) {
        margin-top: $header-sticked-height;

        &__items {
            margin: 10px;
        }

        &__item-wrapper {
            width: 33.3333333333%;
            padding: 10px;
        }

        &__error {
            margin: 20px;
        }

        &__divider {
            margin: 20px 10px;
        }
    }

    @media (min-width: $screen-md-min) {
        &__item-wrapper {
            width: 25%;
        }
    }

    @media (min-width: $screen-1600-min) {
        &__item-wrapper {
            width: 16.666666666666668%;
        }
    }
}