*, *:before, *:after {
    box-sizing: border-box;
}

body {
    font-family: $main-font;
    font-size: $default-font-size;
    line-height: $default-line-height;
    color: $default-font-color;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}