@keyframes shake {
    from {
        transform: rotate(-30deg);
    }

    50% {
        transform: rotate(30deg);
    }

    to {
        transform: rotate(-30deg);
    }
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1000;

    &__image {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -($loader-width/2);
        margin-top: -($loader-height/2);
        @include sprite($loader);

        animation-name: shake;
        animation-duration: 1.2s;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
        animation-delay: 0s;
    }
}