.rc-slider {
    .rc-slider-rail {
        background-color: $white;
    }
    .rc-slider-track {
        background-color: $nepal;
    }
    .rc-slider-handle {
        border-color: $bermuda-gray;
    }
}