.Select {
    .Select-value-label {
        color: $chambray;
    }

    .Select-arrow {
        border-color: $chambray transparent transparent;
    }

    .Select-menu-outer {
        background-color: $white;
        border-color: $nepal;
    }

    .Select-option {
        background-color: $white;
        color: $chambray;
    }

    .Select-option.is-selected, .Select-option.is-focused {
        background-color: $nepal;
        color: $white;
    }
}