$main-font: 'Open Sans', sans-serif;
$default-font-size: 14px;
$default-line-height: 1.4;
$footer-height: 52px;
$header-sticked-height: 62px;
$max-readable-text-width: 800px;

$white: #ffffff;
$desert-storm: #f4f3f2;
$nepal: #9bafc5;
$bermuda-gray: #698aa0;
$bali-hai: #8fa1b5;
$chambray: #2f5c8c;
$fruit-salad: #55a468;
$brandy-punch: #d29430;
$pomegranate: #f44336;